(
    last_target: "",
    physics: [
        (
            pos: (0.0, 430.0),
            size: (30.0, 30.0),
            weight: 20.0,
            speed: (0.0, 0.0),
            speedl: 4.0,
            acc: (0.0, 0.0),
            accl: 2.0,
            controller: (
                motion: (false, false, false, false),
                weight: 0.6,
                jump: false,
                has_jumped: false,
                jump_weight: 2.5,
                jump_time: 25,
                jump_stop: false,
            ),
            collisions: (true, false, true, false),
            gravity: 0,
            affects_actors: true,
        ),
    ],
    colliders: [
        (
            pos: (0.0, 460.0), // floor
            size: (640.0, 20.0),
        ),
        (
            pos: (-10.0, 0.0), // left border
            size: (10.0, 480.0),
        ),
        (
            pos: (640.0, 0.0), // right border
            size: (10.0, 480.0),
        ),
        (
            pos: (60.0, 360.0), // first platform
            size: (50.0, 1.0),
        ),
        (
            pos: (120.0, 420.0), // second platform
            size: (50.0, 1.0),
        ),
        (
            pos: (150.0, 300.0), // third platform
            size: (100.0, 1.0),
        ),
        (
            pos: (360.0, 250.0), // fourth platform
            size: (75.0, 1.0),
        ),
        (
            pos:(601.0,381.0), // door block
            size:(39.0,79.0),
        )
    ],
    variables: {
        0: 30.0,
        1: 0.0,
    },
    actors: [
        (
            pos:(150.0,280.0), // p3
            size:(20.0,20.0),
            variable: 1,
            change: 1.0,
            active: true,
        ),
        (
            pos:(130.0,380.0), // ground
            size:(20.0,20.0),
            variable: 1,
            change: 1.0,
            active: true,
        ),
        (
            pos:(300.0,230.0), // leap 3-4
            size:(20.0,20.0),
            variable: 1,
            change: 1.0,
            active: true,
        ),
        (
            pos:(400.0,430.0), // ground
            size:(20.0,20.0),
            variable: 1,
            change: 1.0,
            active: true,
        ),
        (
            pos:(610.0,340.0), // above door
            size:(20.0,20.0),
            variable: 1,
            change: 1.0,
            active: true,
        )
    ],
    doors: [
        (
            pos:(600.0,380.0),
            size:(40.0,80.0),
            target:"./assets/worlds/lvl2.ron",
            req_variable:Some(1),
            req_value:5.0,
            instant:true,
            interacted:false,
        )
    ]
)