(
    windows: [
        (
            menu: (
                widgets: [
                    (
                        pos: (245.0,150.0),
                        size: (150.0,50.0),
                        text: "PLAY",
                        is_button: true,
                        variable: Some(1),
                        change: Some(1),
                    ),
                    (
                        pos: (245.0,220.0),
                        size: (150.0,50.0),
                        text: "EXIT",
                        is_button: true,
                        variable: Some(2),
                        change: Some(0),
                    )
                ],
                active: true,
            ),
            start_target: "",
            blackout_time: 1.0,
            game: None,
        ),
        (
            menu: (
                widgets: [],
                active: false,
            ),
            start_target: "./assets/worlds/default.ron",
            blackout_time: 3.0,
            game: Some((
                physics: [
                ],
                colliders: [
                ],
                actors: [
                ],
                doors: [
                ],
                variables: {
                },
                last_target:  "./assets/worlds/default.ron",
            )),
        ),
    ],
    c_window: 0,
)