(
    windows: [
        (
            menu: (
                widgets: [
                    (
                        pos: (0.0,0.0),
                        size: (150.0,50.0),
                        text: "test",
                        is_button: true,
                        variable: Some(1),
                        change: 0.0,
                    )
                ],
                active: true,
            ),
            start_target: "",
            game: None,
        ),
        (
            menu: (
                widgets: [],
                active: false,
            ),
            start_target: "./assets/worlds/default.ron",
            game: Some((
                physics: [
                ],
                colliders: [
                ],
                actors: [
                ],
                doors: [
                ],
                variables: {
                },
                last_target:  "./assets/worlds/default.ron",
            )),
        ),
    ],
    c_window: 0,
)