(
    windows: [
        (
            menu: (
                widgets: [],
                active: false,
            ),
            start_target: "./assets/worlds/default.ron",
            game: Some((
                physics: [
                ],
                colliders: [
                ],
                actors: [
                ],
                doors: [
                ],
                variables: {
                },
                last_target:  "./assets/worlds/default.ron",
            )),
        ),
    ],
    c_window: 0,
)